<head>
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Meteor React Boilerplate</title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
		</style>
</head>

<body>
		<div id="app"></div>
</body>
